.navbar{
    padding-left: 15px;
}

.navbar-div{
    margin: 15px;
    border-style: solid; 
    background-color: pink; 
    border-color: pink; 
    border-radius: 5px; 
    border-width: 3px;
}

.bg-body-tertiary{
    border-radius: 5px;
}

.table-div{
    width: 50%; 
    margin: auto;
}

.page-title{
    width: 15%; 
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    border-color: pink;
    border-style: solid;
    border-radius: 5px; 
    border-width: 3px;
}

.about-section{
    width: 50%; 
    margin: auto;
    padding-top: 15px;
    text-align: center;
    background-color: white;
    border-color: pink;
    border-style: solid;
    border-radius: 5px; 
    border-width: 3px;
}

.supermarket-item-image{
    width: 250px;
    height: 250px;
}

.supermarket-item-caption{
    background-color: white;
    border-style: solid;
    border-color: pink;
    border-width: 3px;
}