{% extends 'base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="page-title">Cart</h1>

        <div>
            <table class="table-div">
                <tr>
                    <th>Item Name</th>
                    <th>Item Value</th>
                </tr>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ item }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}