{% extends 'base.html' %}

{% block content %}
    <div>
        <h1 class="page-title">Supermarket Flask App</h1>

        <div class="table-div">
            <table class="table border">
                <tr>
                    <th>Item Name</th>
                    <th>Item Value</th>
                </tr>
            {% for key,value in shop_items.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}