{% extends 'base.html' %}
{% block title %}Buy{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="page-title">Supermarket Flask App</h1>

        <div>
            <table class="table-div">
                <tr>
                    {% for key,value in shop_items.items() %}
                    <td>
                        <div class="supermarket-item">
                            <figure>
                                <button class="accordion-button"><img class='supermarket-item-image' src="{{url_for('static', filename='/images/'+key+'.jpg')}}" /></button>
                                <p></p>
                                <figcaption class="supermarket-item-caption">{{ key }} : {{ value }} <form action="/addCart/" method="get"><button name="cart-button" type="submit" value="{{ key }}" class="btn-primary">cart</button></form></figcaption>
                            </figure>
                        </div>
                    {% endfor %}      
                    </td>
                </tr>
            </table>            
        </div>
    </div>
{% endblock %}